<h2>All Contacts</h2>

<ol type="I">
<% @contacts.each do |contact| %>
  <li><a class="btn" href="/contacts/<%=contact.id%>"><h3><%=contact.first_name%> <%= contact.last_name %></h3></a>
  	<p><strong>Email: </strong><%=contact.email %></p>
  	<p><strong>Note: </strong><%=contact.note %></p>
  </li>
<% end %>
</ol>
